@import 'essentials';

.full-height {
	min-height: 100vh;
}

.cta {
	text-transform: uppercase;
	font-weight: bold;
}

.container {
	&.md {
		max-width: 50rem;
	}
}

.placeholder {
	background-color: $gray;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $black;
	padding: 2rem;
	&.map {
		height: 300px;
		display: flex;
	}
}

// ===================================
//   CONTAINERS
// ===================================

.footer {
	background-color: $aggie-blue;
	min-height: 100px;
}

.lead {
	text-align: center;
	background-image: linear-gradient($aggie-blue, darken($aggie-blue, 8));
	h1 {
		font-family: $roboto-slab;
		font-size: 12vw;
		text-transform: uppercase;
	}
	.date {
		font-family: $roboto-slab;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 2rem;
	}
	.container {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.schedule {
	.row {
		padding: 0.5rem;
	}
	.row:nth-child(odd) {
		background-color: $gray-lighter;
	}
}
