@import 'essentials';

.disclosure {
	box-shadow: 0 0 3px $gray-dark;
	border-radius: 6px;
	background-color: $white;
	overflow: hidden;
	margin-bottom: 0.8rem;
	.title {
		color: $white;
		cursor: pointer;
		font-weight: bold;
		font-family: $roboto-slab;
		padding: 0.6rem;
		font-size: 1.2rem;
		background-color: $aggie-blue;
		&:hover {
			background-color: $blue-darker;
		}
	}
	.content {
		padding: 0.6rem;
		background-color: $gray-lighter;
	}
}

.subheader {
	text-align: center;
	h2 {
		font-size: 2rem;
		margin: 0 0 1rem !important;
	}
	p {
		color: $gray-dark;
	}
	hr {
		max-width: 10rem;
		margin: 0.5rem auto 2.5rem;
		border: 1px solid $gray-darker;
	}
}
